<ul style="width:12%; float:left; border-right:1px solid grey; margin-right: 50px; min-height:100vh;">
    {% if cats %}
        {% for c in cats %}
            {% if c == act_cat %}
                <li><strong>
                    <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
                </strong></li>
            {% else %}
                <li><a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
</ul>