<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            hey there partner!
        </div>

        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                <a href="/rango/category/{{ category.slug }}"><li>{{ category.name }}</li></a>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No Categories to Display</strong>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about">About</a>
            <br/>
        </div>

        <img src="{% static 'images/rango.jpg' %}" 
             alt="Chris Do Font Recommendations"
             style="width:75%; margin-left:auto; margin-right:auto;">
    </body>
</html>