{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Users</h1>

    {% for userprofile in object_list %}
        <h3>{{ userprofile.user.username }}</h3>
        {% if userprofile.picture %}
        <img style='max-width:100%; max-height: 15vh; display:block' 
             src="{{ userprofile.picture.url }}" 
             alt="{{ userprofile.user.username }}">
        {% endif %}
        {% if userprofile.website %}
        <h6>Website </h6>
        <a href="{{ userprofile.website }}">{{ userprofile.website }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}